root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_indent_labels = one_less_than_current
csharp_prefer_braces = true:warning
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{json,csproj,props,targets}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
